@import url('http://fonts.googleapis.com/earlyaccess/droidarabickufi.css');

@import url('http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css');


@import 'relief/superfish';
@import 'relief/prettyPhoto';
@import 'relief/flexslider';

@import 'relief_styles';

@import 'relief/responsive';
@import 'relief/colours/green';


h1,
h2,
h3,
h4,
h5,
h6,
#main-menu,
.flex-caption p,
.button1,
.button2,
.button3,
#submit,
.msg1 p,
#tabs .nav li,
table th,
.comment-count h3 .comments-off {
    font-family: 'Droid Arabic Naskh', serif;
}


#main-menu {
    max-width: 930px;
}
// Headers
#main-menu a, .widget-title h4, .title1, .title2{
    font-family: 'Droid Arabic Kufi', serif;
}
.title2, .blog-content h2, .blog-content h3 {
    font-family: 'Droid Arabic Kufi', serif;
    font-weight: bold;
}
#title h1 {
    font-family: 'Droid Arabic Naskh', serif;
    font-weight: bold;
}
p, a, span {
    font-family: 'Droid Arabic Naskh', serif;
}

// post single
.blog-list-wrapper a, .blog-title-single a{
    font-family: 'Droid Arabic Kufi', serif;
    font-weight: bold;
}

.blog-content {
    p {
        font-size: 1.2em;
    }
    &.blog-single {
        img {
            max-width: 100%;
            float: right;
        }
        p {
            font-size: 1.3em;
        }
    }
}


// correct directions of footer's arrows
.jcarousel-next-horizontal {
    &, &:hover, &:focus, &:active {
        background-position: 0 -36px;
    }
}
.jcarousel-prev-horizontal, .jcarousel-prev-disabled-horizontal {
    &, &:hover, &:focus, &:active {
        background-position: -26px 0;
    }
}

// fix flexslider
.flex-viewport {
    direction: rtl;
}
.flex-caption {
    direction: ltr;
    text-align: left;
}
