@import url('http://fonts.googleapis.com/earlyaccess/droidarabickufi.css');

@import url('http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css');

@import 'relief/superfish';
@import 'relief/prettyPhoto';
@import 'relief/flexslider';

@import 'relief_styles';

@import 'relief/responsive';
@import 'relief/colours/green';


#main-menu {
    max-width: 930px;
}
// Headers
#main-menu a, .widget-title h4, .title1{
    font-family: 'Droid Arabic Kufi', serif;
}
#title h1 {
    font-family: 'Droid Arabic Naskh', serif;
    font-weight: bold;
}
p, a, span {
    font-family: 'Droid Arabic Naskh', serif;
}

// correct directions of footer's arrows
.jcarousel-next-horizontal {
    &, &:hover, &:focus, &:active {
        background-position: 0 -36px;
    }
}
.jcarousel-prev-horizontal, .jcarousel-prev-disabled-horizontal {
    &, &:hover, &:focus, &:active {
        background-position: -26px 0;
    }
}

// fix flexslider
.flex-viewport {
    direction: rtl;
}
.flex-caption {
    direction: ltr;
    text-align: left;
}


.flex-viewport img {
    height: 450px;
}