---
title: عن الجمعية
menu: true
menuIndex: 5
newsLimit: 7
eventsLimit: 2
---

<!-- BEGIN #content -->
<div id="content">
    
    <div class="blog-event-prev-wrapper section">
        <h1 class="title2">{{title}}</h1>

        <img src="{{assets}}/images/legal.jpg" alt="" style="display: block; margin: 0 auto;">
    </div>

<!-- END #content -->
</div>

{{!-- {{stringify this}} --}}