---
title: عن الجمعية
menu: true
menuIndex: 5
newsLimit: 7
eventsLimit: 2
---

<!-- BEGIN #content -->
<div id="content">
    
    <div class="blog-event-prev-wrapper section">
        <h1 class="title2">{{title}}</h1>


        <p>جمعية ثقافية وخيرية مرخصة من وزارة الداخلية: رقم الترخيص: (088/2010) عاملة في الجمهورية الإسلامية الموريتانية</p>
        
        <h1 class="title2">رؤيتنا</h1>    
        <p>نرى بأن أكبر ثروة للأوطان والبلدان هي الإنسان: تكوينا وتعليما وإعانة، فكانت رسالتها أن تذكي في الإنسان إرادته ليكتشف قدراته الكامنة داخل نفسه ويعمل على تنميتها وتطويرها بما ينفعه ويخدمه فيصير بذلك إنسانا فاعلا داخل محيطه الإجتماعي والثقافي والإقتصادي.</p>

        <p>تخدم الجمعية في أنشطتها المجتمع كله بكل أطيافه وفئاته، وتركز في ذلك على الفئات الأضعف في المجتمع: ذوي الإعاقة، الفقراء.</p>
        <h1 class="title2">أهدافنا</h1>
    
                <p>المساهمة في إثراء الساحة الثقافية والتنموية في المجتمع.</p>
                <p>نشر الثقافة والوعي لدى فئة ذوي الإعاقة: اكتشاف مواهبهم، وإعانتهم ماديا ومعنويا من خلال التدريس والتوظيف.  </p>
                <p>تقديم المساعدة في المجال الثقافي والصحي والاجتماعي للفقراء والمحتاجين .</p>
                <p>محاولة التغلب على صعوبات التعليم المختلفة</p>
                <p>تشجيع أصحاب الابتكار، وإذاء روح الإرادة والتغلب على المعوقات</p>
                <p>توطين العمل الخيري ونشر ثقافة التطوع داخل المجتمع.</p>
                <p>تقديم الإغاثة للمتضررين والمنكوبين، والتوعية بالمخاطر المختلفة التي تهدد الإنسان</p>

        <h1 class="title2">وسائلنا</h1>
        <p>تستخدم الجمعية لتحقيق أهدافها آنفة الذكر كافة الوسائل التي يتيحها القانون من:</p>
                <p>بناء المراكز التعليمية والتدريبية</p>
                <p>تشكيل الفرق الخدمية.</p>
                <p>إقامة الدورات التدريبية والتكوينية</p>
                <p>تنظيم الفعاليات والملتقيات الخدمية والثقافية.</p>
                <p>تقديم التجهيزات والمعدات الضرورية لذوي الإعاقة</p>
                <p>اقام المحاضرات والندوات وفتح الفصول التعليمية</p>
                <p>تقديم المنح الدراسية، والجوائز التشجيعية والكفالات الإجتماعية</p>
                <p>اصدار النشريات والصحف المتخصصة</p>
                <p>اقامة الأنشطة الصحية والقوافل الإغاثية</p>
                <p>اطلاق نسخ المسابقات الثقافية.</p>
                <p>توزيع الإعانات الاجتماعية على المحتاجين من مختلف شرائح المجتمع</p>

         
        <h1 class="title2">إدارتنا:</h1>
        <p>تتكون إدارة الجمعية من:</p>
                <p>مجلس إدارة: يضع الخطط ويراقب التنفيذ يضم مجموعة من الشخصيات البارزة في البلد.</p>
                <p>مجلس تنفيذي: يباشر أعمال الجمعية وتنفيذ أنشطتها، ويضم إضافة إلى الرئيس: أربعة مستشارين، وسبعة مسؤولي  لجان.</p>
                <p>لجان متخصص تابعة للمكتب التنفيذي تشكل حسب الحاجة.</p>
    </div>

<!-- END #content -->
</div>

{{!-- {{stringify this}} --}}