---
title: أنشطة الجمعية
menu: true
hasChildren: true
menuIndex: 4
pageColumns: <%= columns %>
statMessage: <%= statistics.elirada_2014 %>
newsLimit: 2
eventsLimit: 2
---

<!-- BEGIN #content -->
<div id="content">
    <div class="section">
        {{title}}
    </div>
    
<!-- END #content -->
</div>

{{!-- {{stringify this}} --}}