---
title: أنشطة الجمعية
menu: true
hasChildren: true
menuIndex: 3
pageColumns: <%= columns %>
statMessage: <%= statistics.elirada_2014 %>
newsLimit: 2
eventsLimit: 2
---
{{> index-slides }}

<!-- BEGIN #content -->
<div id="content">
    {{> three-columns}}
    
    <div class="section">
        {{> stat-message}}
    </div>
    
    <div class="blog-event-prev-wrapper section clearfix">
        <div class="two-thirds">
            {{> latest-news}}
        </div>
        <div class="one-third last-col">
            {{> latest-events}}
        </div>
    </div>
    
<!-- END #content -->
</div>

{{!-- {{stringify this}} --}}