---
title: أنشطة الجمعية
menu: true
hasChildren: false
menuIndex: 4
pageColumns: <%= columns %>
statMessage: <%= statistics.elirada_2014 %>
newsLimit: 2
eventsLimit: 2
---

<!-- BEGIN #content -->
<div id="content">
        
    <div class="blog-event-prev-wrapper section">
        <h1 class="title2">{{title}}</h1>

<br/>
        <h3 class="title2">الأنشطة الثقافية والتعليمية</h3>
        <p>ترى الجمعية في رؤيتها أن التعليم والتثقيف هو الركن الأساس في العملية التنموية، وأثمن خدمة يمكن أن تقدم للإنسان هو تعليمه حتى يستطيع أن يكون إنسانا فاعلا في المجتمع يعرف واجباته وحقوقه الدينية والاجتماعية والعملية، وكذلك تثقيفه واذكاء روح الإرادة فيه.</p>

        <p>وتحقيقا لهذا الغرض تتبنى الجمعية مجموع أنشطة تعليمية وثقافية من أهمها:</p>

        <p>- فتح الفصول التعليمية في المجالات المختلفة يستفيد منها الفقراء والمحتاجون وذوو الإعاقة (فصول محوية الإمية وتعليم الأحكام الشرعية)، إضافة إلى فصول التقوية الدراسية.</p>
        <p>- إقامة الدورات التعليمية المكثفة في المجالات المختلفة</p>
        <p>- توزيع الأدوات الدراسية على الطلاب المعاقين والمحتاجين</p>
        <p>- توفير المقاعد الدراسية، وتحمل نفقات التعليم عن بعض المحتاجين</p>
        <p>- إقامة الدورات التدريبية في مجالات التنمية البشرية وبناء الذات</p>
        <p>- إقامة الأسابيع الثقافية والملتقيات والورشات </p>
        <p>- إقامة المسابقات وتشجيع وإبراز المواهب </p>

<br/>
        <h3 class="title2">الأنشطة الصحية</h3>

        <p>تسعى الجمعية إلى تخفيف آلام الناس ورسم البسمة في حياتهم وفي ذلك الإطار تقدم الجمعية أنشطة صحية مختلفة للمرضى المحتاجين من أبرزها:</p>

        <p>- الأسابيع والأيام الصحية التي تقدم من خلالها الاستشارات والأدوية للمرضى والمحتاجين في مختلف التخصصات</p>
        <p>- التوعية الصحية من أجل الوقاية من الأمراض الأكثر فتكا بالإنسان من خلال إطلاق حملات توعية وتحسيس.</p>
        <p>- تبني علاج بعض الحالات الإنسانية من خلال التكفل بعلاجها أو المساعدة فيه.</p>
        <p>- تسيير القوافل الصحية من أجل الوصول إلى الأماكن والأشخاص المحتاجين وتقريب الخدمات الصحية الخيرية منهم.</p>
        <p>- تقديم المساعدات العينية في المستشفيات ونقاط الحجز الصحي.</p>

<br/>
        <h3 class="title2">أنشطة ذوي الإعاقة</h3>

        <p>تركز الجمعية في خدمتها للأشخاص ذوي الإعاقة على تنمية قدراتهم من خلال توفير التعليم والتكوين وشحذ هممهم من أجل المشاركة في الحياة الفاعلة داخل المجتمع، والتوعية بحقوقهم والدفاع عنها.</p>

        <p>- وتقدم لهم مجموع خدمات خاصة إضافة إلى استفادتهم من مجمل أنشطتها تتمثل في:</p>
        <p>- تقديم المعدات والأدوات المساعدة لهم في حياتهم والمعينة لهم من كراس وعكازات وعصي ونظارات وسماعات حسب نوع الإعاقة.</p>
        <p>- تقديم بعض الإعانات المالية والتكوينات الخاصة.</p>
        <p>- دعم وإنشاء بعض المشاريع المدرة عليهم بالدخل.</p>
        <p>- السعي من أجل الحصول لهم على عمل ملائم لقدراتهم ومستوياتهم.</p>

<br/>
        <h3 class="title2">الأنشطة الإجتماعية</h3>
 
        <p>تقدم الجمعية مختلف الأعمال الخيرية الهادفة إلى دعم الأسر والأشخاص الفقراء والمتجسدة في:</p>
 
        <p>- الإعانات المالية </p>
        <p>- تقديم المواد الغذائية</p>
        <p>- تقديم الملابس والأدوات المختلفة</p>
        <p>- القيام بالحملات الخدمية المخصصة للأحياء الأكثر فقرا</p>
        <p>- التوعية بحقوق المرضى والفقراء والإعلام بالحالات الصعبة</p>
        <p- >توفير المياه الصالحة للشرب في الأحياء المعزولة في فترات الصيف وقلة المياه.</p>

<br/>
        <h3 class="title2">الأنشطة الموسمية والإغاثية</h3>

        <p>تنظم الجمعية مجموع من الأنشطة الموسمية أبرزها:</p>

        <p>- حملة افطار الصائم في رمضان في المسشفيات والمساجد والشوارع والأحياء الفقيرة، إضافة إلى تقديم السلة الغذائية الرمضانية</p>
        <p>- توزيع اللحوم والأضاحي </p>
        <p>- الحملة الشتوية لجمع البطانيات وتوزيعها على المحتاجين لها.</p>
        
        <p>كما تقيم الجمعية الحملات الإغاثية حسب الحالات الطارئة التي تسدعي التدخل في المناطق المنكوبة في مختلفة أنحاء الوطن.</p>

    </div>
    
<!-- END #content -->
</div>

{{!-- {{stringify this}} --}}