---
title: إتصل بنا
menu: true
menuIndex: 6
newsLimit: 7
eventsLimit: 2
---

<!-- BEGIN #content -->
<div id="content">

    <div class="blog-event-prev-wrapper section clearfix">
        <div class="">
            
            <div class="clearfix">
            <br>
                <h2 class="title2">وسائل الاتصال:</h2>
                <br>
                <p><b>الهواتف:</b> 22375919  (00222) و 36275919 (00222)</p>
                <p><b>البريد الإلكتروني:</b> elirada1431@hotmail.com</p>
                <p><b>صفحة الجمعية على الفيس بوك:</b> <a href="http://www.facebook.com/elirada.mr">جمعية الإرادة للثقافة والتنمية www.facebook.com/elirada.mr</a></p>
                <p><b>مقر الجمعية:</b> نواكشوط عرفات شارع الشرطة شرق ملتقى طرق بكار.</p>
            </div>
        </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>   
<!-- END #content -->
</div>

{{!-- {{stringify this}} --}}