---
title: إتصل بنا
menu: true
menuIndex: 6
newsLimit: 7
eventsLimit: 2
---
{{> index-slides }}

<!-- BEGIN #content -->
<div id="content">
    
    <div class="blog-event-prev-wrapper section clearfix">
        <div class="two-thirds">
            {{> latest-news}}
        </div>
    </div>
    
<!-- END #content -->
</div>

{{!-- {{stringify this}} --}}