---
title: أنشطة ثقافية
menu: true
parent: أنشطة الجمعية
menuIndex: 1
pageColumns: <%= columns %>
statMessage: <%= statistics.elirada_2014 %>
newsLimit: 2
eventsLimit: 2
---

<!-- BEGIN #content -->
<div id="content">
    <div class="section">
        {{title}}
    </div>
    
<!-- END #content -->
</div>

{{!-- {{stringify this}} --}}