---
title: تبرع الآن
newsLimit: 7
eventsLimit: 2
---

<!-- BEGIN #content -->
<div id="content">
    
    <div class="blog-event-prev-wrapper section">
        <h1 class="title2">{{title}}</h1>

        <p>ترحب الجمعية بكل التبرعات من فاعلي الخير الراغبين في المساهمة في أنشطتها المختلفة.</p>

        <p>يمكن التبرع عبر التطرق التالية:</p>

        <p>• تحرير شيك موقع باسم الجمعية "جمعية الإرادة للثقافة والتنمية" أو A.V.C.D</p>
        <p>• أو تسليم المبلغ في مقر الجمعية مباشرة.</p>
        <p>• الحوالات المالية عبر الطرق المتعارف عليها لذلك الغرض.</p>
        <p>• أو التواصل عبر العناوين المبينة في نافذة "اتصل بنا" للاتفاق على طريقة مناسبة للتسليم.</p>

        <p>ترحب الجمعية بمختلف أنواع التبرعات سواء كانت مادية أو عينية.</p>

<br /><br /><br /><br /><br /><br />

    </div>

<!-- END #content -->
</div>

{{!-- {{stringify this}} --}}
