---
title: مشاريع تنتظر الدعم
menu: true
menuIndex: 4
newsLimit: 7
eventsLimit: 2
---

<!-- BEGIN #content -->
<div id="content">
    
    <div class="section">
        <h1 class="title2">{{title}}</h1>
            <p>مشروع توفير أدوات المعاق(سماعات للأصم، وكراس متحركة للمقعد، وكعازات للمعاق حركيا، وعصي بيض، وورقي لكتابة ابرايل للمكفوف)</p>
            <p>مشروع مركز متكامل للتعليم والتدريب يخدم الأشخاص ذوي الإعاقة وغيرهم</p>
            <p>مشروع فصول التعليم في الأحياء الفقيرة (القرآن ومحو الأمية)</p>
            <p>مشروع اعانة الطالب الفقير يقدم اعانات مالية ويوفر معدات ومنح دراسية.</p>
            <p>مشروع تمويل مشاريع صغيرة مدرة للدخل للفقراء والمعاقين.</p>
            <p>مشروع اقامة مركز صحي وتقديم الأدوية للمحتاجين.</p>
            <p>مشروع الكفالات الأسرة الفقيرة والأيتام وذي الإعاقة</p>
            <p>صندوق تمويل الأنشطة الموسمية والإغاثية</p>
    </div>
    
<!-- END #content -->
</div>

{{!-- {{stringify this}} --}}