---
title: تطوع معنا
newsLimit: 7
eventsLimit: 2
---

<!-- BEGIN #content -->
<div id="content">
    
    <div class="blog-event-prev-wrapper section">
        <h1 class="title2">{{title}}</h1>

        <p>تتشرف الجمعية بكل الراغبين في التطوع معها في الأعمال التي تقوم بها وذلك في المجالات التالية:</p>

        <p>• المجال الثقافي والتعليمي</p>

        <p>• المجال الصحي والتحسيسي</p>
        <p>• المجال الإعلامي </p>
        <p>• الحملات الخدمية المختلفة والأعمال اليدوية</p>
        <p>• متابعة الحالات، والتواصل معها ونقلها.</p>
        <p>• اضافة إلى التبرع بالمالي والعيني والدعم المعنوي</p>
<br>
        <p>تشترط الجمعية في المتطوع التقيد بالشروط التالية:</p>
        <p>• الإخلاص في العمل، والجدية، والوفاء بالالتزامات.</p>
        <p>• الانضباط الأخلاقي والصدق، والتقيد بالضوابط والنظم المعمول بها داخل الجمعية</p>
        <p>• الابتعاد عن كل خطاب عنصري أو فئوي أو سياسي، والتركيز على الأبعاد المشتركة (الإنسانية، الدين، الوطن).</p>

        <p>يمكن للمتطوع التواصل معنا عبر العناوين المبينة في نافذة "اتصل بنا".</p>

    </div>

<!-- END #content -->
</div>

{{!-- {{stringify this}} --}}