<!-- BEGIN .slides -->
<div class="slider section slide-loader">
    <ul class="slides">
        {{#each news}}
        {{#each pages}}
        {{#if data.sliderImage}}
        <li>
            <a href="{{> page-link}}" title="{{data.title}}"><img src="{{assets}}/images/{{data.sliderImage}}" alt=""></a>
            <div class="flex-caption">
                <p>{{data.title}}</p>
            </div>
        </li>
        {{/if}}
        {{/each}}
        {{/each}}
    </ul>
<!-- END .slides -->
</div>