<!-- BEGIN .slides -->
<div class="slider section slide-loader">
    <ul class="slides">
        <li>
            <a href="#" title="Slide 1" target="_blank"><img src="http://www.elirada.com/wp-content/uploads/2013/07/DSCI0074.jpg" alt=""></a>
            <div class="flex-caption">
                <p>جمعية “الارادة” تطلق الاسبوع الثقافي الثاني للاشخاص ذوي الاعاقة.</p>
            </div>
        </li>
        <li>
            <a href="#" title="Slide 2" target="_blank"><img src="http://www.elirada.com/wp-content/uploads/2013/07/943713_604064556272592_1968103938_n.jpg" alt=""></a>
            <div class="flex-caption">
                <p>جمعية الإرادة للثقافة والتنمية تنظم دورة “الخطابة والإلقاء وطرق التأثير في المتلقي”</p>
            </div>
        </li>
        <li>
            <a href="#" title="Slide 3" target="_blank"><img src="http://www.elirada.com/wp-content/uploads/2012/08/DSCI2740-300x225.jpg" alt=""></a>
            <div class="flex-caption">
                <p>فضاء الإعلام:04\08\2012  قامت جمعية الإرادة للثقافة والتنمية مساء.</p>
            </div>
        </li>
    </ul>
<!-- END .slides -->
</div>