<h3 class="title1">فيدوهات<span class="title-end"></span></h3>
{{#each videos}}
<div class="event-prev clearfix">
    <iframe allowfullscreen width="305" height="260" src="http://www.youtube.com/embed/{{this}}"> </iframe>
</div>
{{/each}}