<h3 class="title1">فيدوهات<span class="title-end"></span></h3>
{{#each videos}}
<div class="event-prev clearfix">
    <object width="305" height="260" data="http://www.youtube.com/v/{{this}}"> </object>
</div>
{{/each}}