---
component: navbar
---
<!-- BEGIN #header -->
  <div id="header">
    
    <div id="header-inner">
    
    <!-- BEGIN #top-bar -->
    <div id="top-bar" class="clearfix">
      
      <div class="top-inner">
      
        <ul class="social-icons fl">
          <li><a href="#"><span id="twitter_icon"></span></a></li>
          <li><a href="#"><span id="facebook_icon"></span></a></li>
          <li><a href="#"><span id="googleplus_icon"></span></a></li>
          <li><a href="#"><span id="skype_icon"></span></a></li>
          <li><a href="#"><span id="youtube_icon"></span></a></li>
          <li><a href="#"><span id="rss_icon"></span></a></li>
        </ul>
      
        <ul class="top-menu fr">
          <li><a href="#">تطوع</a><span>/</span></li>
          <li><a href="#">إتصل_بنا</a></li>
        </ul>
      
      </div>
    
    <!-- END #top-bar -->
    </div>
    
    <div class="title-wrapper clearfix">
    
      <div id="title" class="fl">
        <h1>
          <a href="index.html">جمعية الإرادة الخيرية</a>
          {{!-- <span id="tagline">في خدمة الإنسان</span> --}}
        </h1>
      </div>
    
      <div class="donate-btn fr">
        <div class="donate-right">
          <div class="donate-right-inner"></div>
        </div>
        <a href="#" class="donate-mid"><span>تبرع الآن</span></a>
        <div class="donate-left"></div>
      </div>
    
    </div>  
    
    <div id="main-menu-wrapper" class="clearfix">
      
      <ul id="main-menu" class="fl">
        <li class="current_page_item"><a href="index.html">الرئيسية</a></li>
        <li><a href="blog.html">آخر الأخبار</a></li>
        <li>
          <a href="gallery.html">صور</a>
          <ul>
            <li><a href="gallery.html">حملة دثروني</a></li>
            <li><a href="gallery.html">حملة إغاثة امبود</a></li>
            <li><a href="gallery.html">صور عامة</a></li>
          </ul>
        </li>
        <li><a href="events.html">أحداث</a></li>
        <li><a href="page.html">عن الجمعية</a></li>
        <li><a href="contact.html">إتصل بنا</a></li>  
      </ul>
      
      <!-- <form method="get" action="search-results.html" id="menu-search" class="fr">
        <input type="text" onblur="if(this.value=='')this.value='Search...';" onfocus="if(this.value=='Search...')this.value='';" value="Search..." name="s" />
      </form> -->
      
    </div>
  
    <!-- END #header-inner -->
    </div>
  
  <!-- END #header -->
  </div>