<div class="header">
<nav>
  <ul class="nav nav-pills pull-right">
    <li role="presentation"><a href="/">العربية</a></li>
    <li role="presentation" class="active"><a href="/index-fr.html">Francais</a></li>
  </ul>
</nav>
<h3 class="text-muted">RimFeed Application</h3>
</div>