---
component: navbar
---
<!-- BEGIN #header -->
  <div id="header">
    
    <div id="header-inner">
    
    <!-- BEGIN #top-bar -->
    <div id="top-bar" class="clearfix">
      
      <div class="top-inner">
      
        <ul class="social-icons fl">
          <li><a href="https://www.facebook.com/elirada.mr" target="_blank"><span id="facebook_icon"></span></a></li>
          <li><a href="#"><span id="twitter_icon"></span></a></li>
          <li><a href="#"><span id="googleplus_icon"></span></a></li>
          <li><a href="#"><span id="youtube_icon"></span></a></li>
          <li><a href="#"><span id="rss_icon"></span></a></li>
        </ul>
      
        <ul class="top-menu fr">
          <li><a href="#">تطوع_معنا</a><span>/</span></li>
          <li><a href="#">إتصل_بنا</a></li>
        </ul>
      </div>
    
    <!-- END #top-bar -->
    </div>
    
    <div class="title-wrapper clearfix">
    
      <div id="title" class="fl">
        <h1>
          <a href="index.html">{{site.title}}</a>
        </h1>
      </div>
    
      <div class="donate-btn fr">
        <div class="donate-right">
          <div class="donate-right-inner"></div>
        </div>
        <a href="#" class="donate-mid"><span>تبرع الآن</span></a>
        <div class="donate-left"></div>
      </div>
    
    </div>  
    
    <div id="main-menu-wrapper" class="clearfix">
      
      <ul id="main-menu" class="fl">
        <li class="current_page_item"><a href="/">الرئيسية</a></li>
        <li><a href="#">آخر الأخبار</a></li>
        <li>
          <a href="#">صور</a>
        </li>
        <li><a href="events.html">أنشطة الجمعية</a>
          <ul>
            <li><a href="#">الثقافية</a></li>
            <li><a href="#">الصحية</a></li>
            <li><a href="#">الحملات</a></li>
            <li><a href="#">التكوين</a></li>
          </ul>
        </li>
        <li><a href="#">مشاريع تنتظر الدعم</a></li>
        <li><a href="#">عن الجمعية</a></li>
        <li><a href="#">إتصل بنا</a></li>  
      </ul>

      <ul id="main-menu" class="fr">
        <li><a href="#">English</a></li>
        <li> <a href="#">Francais</a> </li>
      </ul>
      
    </div>
  
    <!-- END #header-inner -->
    </div>
  
  <!-- END #header -->
  </div>