<div class="header">
<nav>
  <ul class="nav nav-pills pull-left">
    {{!-- <li role="presentation" class="active"><a href="/">العربية</a></li> --}}
    {{!-- <li role="presentation"><a href="/index-fr.html">Francais</a></li> --}}
  </ul>
</nav>
<h3 class="text-muted title"><strong>تطبيق ريم فيد</strong></h3>
</div>